.textInput {
    width: 100%;
    font-size: 14px;
    color: gray;
    border: 1px solid darkgray;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 8px;
    box-sizing: border-box;

    &-size-small {
        height: 36px;
    }

    &-size-normal {
        height: 48px;
    }
}
